version: "3.8"

services:
  app:
    image: laravel-app:${IMAGE_TAG}
    build: .
    container_name: laravel_app
    env_file:
      - .env
    volumes:
      - .:/var/www
    expose:
      - "9000"

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
